* {
  padding: 0;
  margin: 0;
}
ul,
li {
  list-style: none;
}
image {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: black;
}

/* main */
#main_head {
  width: 100%;
  position: fixed;
  background-color: white;
  z-index: 20px;
}

#main_head h2 {
  text-align: center;
}

/* social */
.social {
  overflow: hidden;
}

.social li {
  width: 32px;
  height: 32px;
  background: url(images/social.png) no-repeat;
  text-indent: -9999px;
  float: left;
}

.social li:nth-child(2) {
  background-position: -32px 0;
}

.social li:nth-child(3) {
  background-position: -64px 0;
}
.social li:nth-child(4) {
  background-position: -96px 0;
}

/* join */
.join {
  position: absolute;
  top: 20px;
  right: 15px;
}
.join li {
  float: left;
}

.join li a {
  padding-left: 30px;
}

/* menu */
nav {
  display: block;
}
#menu {
  text-align: center;
}
.menu_btn li {
  display: inline-block;
}
.menu_btn li a {
  display: block;
  padding: 20px 30px;
}

/* main */

#main_img {
  margin-top: 170px;
  height: 500px;
  border-top: 3px solid red;
  background-image: url(images/main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#main_img div {
  text-align: center;
  color: white;
}
#main_img div:nth-child(1) {
  padding-top: 200px;
  font-size: 50px;
}

#main_img div:nth-child(2) {
  padding-top: 20px;
  font-size: 30px;
}

/* design */
#line {
  text-align: center;
  font-size: 14px;
  padding: 5px;
}

#line h2 {
  border-bottom: 3px dashed #ddd;
  padding: 10px;
}

/* list */
#list {
  display: block;
  text-align: center;
}
#list article {
  display: inline-block;
  padding: 40px;
}
article h3 {
  text-align: center;
  padding-top: 10px;
  color: #ddd;
}

/* footer */
footer {
  border: 2px solid #ddd;
  display: block;
  overflow: hidden;
  padding: 10px;
  font-size: 14px;
}
footer h2 {
  float: left;
}
footer p {
  float: right;
}
